html, body {
    font: arial,helvetica,clean,sans-serif;
}

table {
    width: 100%;
    height: 675px;
    border-collapse: collapse;
}   

td {
    vertical-align: top;   
    border: solid 2px black;
    width: 16.666%;
    padding: 1%;
}     

td h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    text-transform : uppercase;
}    

td h2 {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: grey;
}    

.subpart_head {
    border-bottom: none;
}    

.subpart_tail {
    border-top: none;
}    

.subpart_tail h1 {
    font-size: 1em;
}    

.subpart_tail h2 {
    font-size: 0.8em;
}    

#productmarketline {
    height: 20px;
    text-align: center;
    background-color: grey;
    color: white;
    font-style: italic;
}
